
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

.container {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  width: 60%;
}

/* Header */
header {
  background-color: lightcoral;
  padding: 20px 0;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .accordion-head {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 12px;

    h6 {
      font-size: 12px;
      margin-top: 4px;
    }

  }

  button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 12px;
    background-color: bisque;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .header-container button {
    order: 2;
  }
}

/* Accordion */
.nested-accordion .accordion-head{
  margin-left: 20px;
}

.nested-accordion ul {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  padding-left: 0;

  li {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}



/* Board and cells */
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 6.5vmin);
  grid-template-rows: repeat(9, 6.5vmin);
  gap: 1px;
  background: #000;

  padding: 3px;
  margin: 40px auto;

  width: fit-content;
  height: fit-content;
}

.cell {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .cell {
    font-size: 20px;
    font-weight: 600;
  }
}

    /* Bordi spessi per i box 3x3 */
    .cell:nth-child(3n) {
      border-right: 3px solid #000;
    }

    .cell:nth-child(9n) {
      border-right: none;
    }

    .cell:nth-child(n+19):nth-child(-n+27),
    .cell:nth-child(n+46):nth-child(-n+54) {
      border-bottom: 3px solid #000;
    }

.cell:hover {
  background-color: rgb(207, 194, 194);
}

.toFill {
  font-weight: 100;
  color: gray;
}

.selected {
  background-color: lightblue;
}

.btn {
  margin-bottom: 20px;
}

/* Pop-up */

.pop-up-container {
  color: white;
  font-size: 24px;
  position: absolute;
  translate: -50% -50%;

  /* width: 300px;
  height: 150px; */
  padding: 20px;
  border-radius: 10px;

  top: 50%;
  left: 50%;
  background: rgb(49, 108, 244);
  z-index: 10;
  display: none;
}

.pop-up {
  display: none;
}

.show {
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;

  .resume {
    background-color: bisque;
    color: #000;
  }
  .restart {
    background-color: lightcoral;
    color: #000;
  }
}

/* Footer */
footer {
  background-color: lightcoral;
  padding: 20px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}