
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* ff8d67 */
  background: linear-gradient(135deg, rgb(210, 66, 90) -20%, pink 100%);
}

.container {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  width: 60%;
}

button {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border: none;
  }

/* #region Header */
header {
  background: linear-gradient(135deg, #f5cc93 -50%, lightcoral 100%);
  padding: 20px 0;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 500;
  }
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .accordion-head {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    h6 {
      font-size: 16px;
      margin-top: 4px;
      font-weight: 600;
    }
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: bisque;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
}

#mainAcc {
  cursor: pointer;
  height: fit-content;
}

.height {
  height: 300px;
}

#AccTxt {
  font-weight: 100;
}

#mainAcc #AccTxt:hover {
  color: bisque;
}
#mainAcc #mainCaret:hover {
  border-top: 6px solid bisque;
}

#mainCaret.colored{
  border-top: 6px solid bisque;
}

.caret {
  border-top: 6px solid #000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease;
  color:bisque;
}

/* #region Accordion */
.nested-accordion {
  text-align: left;
  /* background-color: bisque; */
  background: linear-gradient(135deg, #f5cc93 -50%, lightcoral 100%);
  border: 1px solid #8d0303;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  position: absolute;
}

.nested-accordion .accordion-head{
  margin-left: 20px;
}

.nested-accordion ul {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  padding-left: 0;

  li {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
}

/* endregion */

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .header-container button {
    order: 2;
  }
}

/* #endregion */

/* #region Board and cells */
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 6.5vmin);
  grid-template-rows: repeat(9, 6.5vmin);
  gap: 1px;
  background: #000;

  padding: 3px;
  margin: 40px auto;

  width: fit-content;
  height: fit-content;
}

.cell {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .cell {
    font-size: 20px;
    font-weight: 600;
  }
}

    /* Bordi spessi per i box 3x3 */
    .cell:nth-child(3n) {
      border-right: 3px solid #000;
    }

    .cell:nth-child(9n) {
      border-right: none;
    }

    .cell:nth-child(n+19):nth-child(-n+27),
    .cell:nth-child(n+46):nth-child(-n+54) {
      border-bottom: 3px solid #000;
    }

.cell:hover {
  background-color: rgb(207, 194, 194);
}

.toFill {
  font-weight: 100;
  color: gray;
}

.selected {
  background-color: lightblue;
}

.btn {
  margin-bottom: 20px;
}

.check-btn {
  background: linear-gradient(135deg, rgb(20, 187, 20), rgb(97, 59, 59));
  border: none;
  color: wheat;
}
/* #endregion */

/* #region Pop-Up */
.pop-up-container {
  color: bisque;
  font-size: 24px;
  position: absolute;
  translate: -50% -50%;

  /* width: 300px;
  height: 150px; */
  padding: 20px;
  border-radius: 10px;

  top: 50%;
  left: 50%;
  background: linear-gradient(135deg, rgb(141, 175, 255) -50%, rgb(49, 108, 244) 100%);
  z-index: 10;
  display: none;
}

.pop-up {
  display: none;
}

.show {
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;

  .resume {
    
    background-color: bisque;
    color: #000;
    
  }
  .restart {
    background-color: lightcoral;
    color: #000;
  }


}
/* #endregion */

/* #region Footer */
footer {
  background: linear-gradient(135deg, #f5cc93 -50%, lightcoral 100%);
  padding: 20px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
/* #endregion */